development:
  clients:
    default:
      database: timecard_db
      hosts:
        - localhost:27017

test:
  clients:
    default:
      database: timecard_db_test
      hosts:
        - localhost:27017

production:
  clients:
    default:
      database: timecard_db_prod
      hosts:
        - localhost:27017
      skip_version_check: true
      safe: true